.profile__edit-button {
  padding: 0;
  margin: 0 0 8px;
  min-width: 24px;
  min-height: 24px;
  background-image: url(../../../images/EditButton.svg);
  background-repeat: no-repeat;
  font-size: 0px;
  background-color: black;
  background-position: center;
  border: none;
  grid-area: editbutton;
}

@media (max-width: 790px) {
  .profile__edit-button {
    min-width: 18px;
    min-height: 18px;
    border: 1px solid white;
    box-sizing: border-box;
  }
}
