.profile__edit-button {
  padding: 0;
  margin: 0 0 8px;
  min-width: 24px;
  min-height: 24px;
  background-image: url(../../../images/EditButton.svg);
  background-repeat: no-repeat;
  font-size: 0px;
  background-color: black;
  background-position: center;
  border: none;
  grid-area: button;
}
