.popup-show-image__container {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

/* @media (max-width: 557px) {
        .popup__container {
          max-width: 282px;
          padding: 25px 22px;
        }
      }      */
