.popup__save {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background: #000000;
  border-radius: 2px;
  box-shadow: none;
  border: none;
  padding: 14px 125px;
  transition: 0.2 ease;
  cursor: pointer;
}

.popup__save:hover {
  opacity: 0.8;
}
