.profile__subtitle {
  max-width: 336px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
  grid-area: subtitle;
  align-self: start;
  padding-top: 16px;
}
