.profile__add-button {
  min-width: 150px;
  min-height: 50px;
  margin: 0;
  padding: 0;
  background-image: url(../../../images/AddButton.svg);
  background-repeat: no-repeat;
  font-size: 0px;
  background-color: black;
  background-position: center;
  border: 1px white solid;
}

@media (max-width: 790px) {
  .profile__add-button {
    min-width: 282px;
    background-image: url(../../../images/Add\ Button.svg);
    /* margin: 0 60% 0; */
  }
}
