.elements__cards {
  margin: 0 auto;
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  justify-items: center;
  align-items: center;
  column-gap: 17px;
  row-gap: 25px;
  padding: 0;
  list-style-type: none;
}

@media (max-width: 790px) {
  .elements__cards {
    row-gap: 20px;
  }
}
