.popup-show-image__close {
  font-weight: 400;
  position: absolute;
  right: -36px;
  top: -36px;
  background-image: url(../../../images/CloseIcon.svg);
  font-size: 0;
  box-shadow: none;
  color: white;
  cursor: pointer;
  border: none;
  max-width: 32px;
  width: 100%;
  min-height: 32px;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.2s ease;
  background-repeat: no-repeat;
}

.popup-show-image__close:hover {
  opacity: 0.6;
}
