.profile__info {
  display: grid;
  grid-template-areas:
    "avatar title editbutton"
    "avatar subtitle .";
  grid-template-columns: 135px 294px 1fr;
  align-items: end;
  column-gap: 16px;
}

@media (max-width: 790px) {
  .profile__info {
    grid-template-columns: auto;
    justify-content: center;
    justify-items: center;
    grid-template-areas:
      "avatar avatar"
      "title editbutton"
      "subtitle subtitle";
    column-gap: 10px;
  }
}
